[project]
	description = all my ppt
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/abhinav prateek (abhinavprateek)
[access "refs/for/refs/*"]
	read = group user/abhinav prateek (abhinavprateek)
	push = group user/abhinav prateek (abhinavprateek)
	label-Code-Review = -2..+2 group user/abhinav prateek (abhinavprateek)
	label-Verified = -1..+1 group user/abhinav prateek (abhinavprateek)
	rebase = group user/abhinav prateek (abhinavprateek)
	removeReviewer = group user/abhinav prateek (abhinavprateek)
	submit = group user/abhinav prateek (abhinavprateek)
[access "refs/heads/*"]
	read = group user/abhinav prateek (abhinavprateek)
	create = group user/abhinav prateek (abhinavprateek)
	push = +force group user/abhinav prateek (abhinavprateek)
	pushMerge = group user/abhinav prateek (abhinavprateek)
[access "refs/tags/*"]
	push = +force group user/abhinav prateek (abhinavprateek)
	pushTag = group user/abhinav prateek (abhinavprateek)
	pushSignedTag = group user/abhinav prateek (abhinavprateek)
